# Build folders
bin/
obj/

# Visual Studio
.vs/

# User files
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Rider / VS Code
.idea/
.vscode/
/TucBookingSystem.Api/tucbookingsystem.db-wal
/TucBookingSystem.Api/tucbookingsystem.db-shm
/TucBookingSystem.Api/tucbookingsystem.db
