@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TUC Bokningssystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">🏠</span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings">
                <span class="nav-icon">📅</span> Bokningar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="nav-icon">🚪</span> Rum
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="nav-icon">⚙️</span> Admin
            </NavLink>
        </div>

        <div class="nav-item px-3 logout-item">
            <button class="nav-link logout-btn" @onclick="Logout">
                <span class="nav-icon">🔓</span> Logga ut
            </button>
        </div>
    </nav>
</div>

@code {
    private void Logout()
    {
        Nav.NavigateTo("/login");
    }
}
