.login-container {
    width: 340px;
    margin: 120px auto;
    padding: 30px;
    border-radius: 12px;
    background-color: #FBD8CF;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
        color: #75787B;
    }

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #D2CDC8;
    box-sizing: border-box;
}

.forgot-password a {
    color: #DE2724;
    text-decoration: none;
}

    .forgot-password a:hover {
        text-decoration: underline;
    }

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #DE2724;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

    .login-button:hover {
        background-color: #c51f1d;
    }

.register-text {
    margin-top: 16px;
    text-align: center;
    color: #75787B;
}

    .register-text a {
        color: #DE2724;
        font-weight: bold;
        text-decoration: none;
    }

        .register-text a:hover {
            text-decoration: underline;
        }

.error {
    color: #DE2724;
    margin-top: 10px;
}
