# Build folders
bin/
obj/

# Visual Studio
.vs/

# User files
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Rider / VS Code
.idea/
.vscode/

#database
*.db
*.db-shm
*.db-wal
appsettings.*.json
!appsettings.json
