{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=tucbookingsystem.db"
  },
  "Jwt": {
    "Key": "DettaArEnSuperHemligNyckelSomArMinst32Tecken",
    "Issuer": "TucBookingSystem",
    "Audience": "TucBookingSystemUsers"
  },
  "Admin": {
    "Email": "admin@admin.se",
    "FullName": "Admin",
    "Password": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
